* {
	margin: 0;
}
html {
	background: url(background.jpg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
}
#heading {
	color: white;
	/*color: #514e47;*/
	text-align: center;
	font-size: 50px;
}

#info {
	color: #c66701;
	text-align: center;
	margin: 20px;
}
#frame {
	margin: auto;
	width: 50%;
	height: 50%;
	background-color: rgba(0,0,0,0.5);
	border: 2px, gray, solid;
}
button {
	font-size: 24px;
	box-shadow: 5px 5px 5px grey;
}